{% extends 'base.html' %}

{% block header %}
    <div class="flex justify-between px-5 py-3 ml-4 mr-4">
        <h1 class="text-3xl text-slate-400">{% block title %}Posts{% endblock %}</h1>
        {% if g.user %}
            <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    <a class="action" href="{{ url_for('main.create') }}">Create new posts</a>
                </span>
            </button>
        {% endif %}
    </div>
{% endblock %}

{% block content %}

    <div class="flex p-4">
    {% for post in posts %}
        <div class="flex flex-col p-4 ml-4 max-h-min max-w-md rounded overflow-hidden shadow-lg">
            <img class="w-full" src="{{ post['img'] }}" alt="User photo link broken">
            <div class="px-6 py-4">
                <div class="font-bold text-xl">{{ post['title'] }}</div>
                <p class="text-sm text-slate-400 font-light italic">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</p>
                <p class="text-base font-light py-2">
                    {{ post['body'] }}
                </p>
                {% if g.user['id'] == post['author_id'] %}
                    <button class="bg-sky-600  hover:bg-blue-400 text-white text-sm font-bold m-1 p-1 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                        <a class="font-light" href="{{ url_for('main.update', id=post['id']) }}">Edit</a>
                    </button>
                {% endif %} 
            </div>
        </div>
        <!-- <article class="flex flex-col py-4">
            <header class="p-3">
                <div class="flex justify-between">
                    <div class="font-light">
                        <h1 class="text-xl text-sky-400 font-mono">{{ post['title'] }}</h1>
                        <p class="text-sm font-light italic">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</p>
                    </div>
                    {% if g.user['id'] == post['author_id'] %}
                        <button class="bg-sky-600 hover:bg-blue-400 text-white text-sm font-bold m-1 p-1 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                            <a class="font-light" href="{{ url_for('main.update', id=post['id']) }}">Edit</a>
                        </button>
                    {% endif %} 
                </div>
            </header>
            <p class="px-3 py-1 font-extralight">{{ post['body'] }}</p>
        </article> -->
        <!-- {% if not loop.last %}
            <hr>
        {% endif %}  -->
    {% endfor %}
    </div>

{% endblock %} 

