{% extends 'base.html' %}


{% block header %}
    <div class="flex justify-center px-5 py-3 mt-10">
        <h1 class="text-3xl text-slate-700">{% block title %}Socioeconomics and Crime: A Case Study of Chicago{% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}


<div class="border-b border-gray-200 dark:bg-gray-800">
  <ul class="flex flex-wrap w-1/3 mx-auto text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
      <li class="flex flex-auto mr-2" role="presentation">
          <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="introduction-tab" data-tabs-target="#introduction" type="button" role="tab" aria-controls="introduction" aria-selected="false">
            Introduction
          </button>
      </li>
      <li class="flex flex-auto mr-2" role="presentation">
          <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="analysis-tab" data-tabs-target="#analysis" type="button" role="tab" aria-controls="analysis" aria-selected="false">
            Analysis
          </button>
      </li>
      <li class="flex flex-auto mr-2" role="presentation">
          <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">
            Maps of Chicago
          </button>
      </li>
  </ul>
</div>
<div class="w-1/2 mx-auto" id="myTabContent">
  <div class="hidden p-4 rounded-l " id="introduction" role="tabpanel" aria-labelledby="profile-tab">
    <h1>Socioeconomics and Crime: A Case Study of Chicago</h1>
  
    <h2>Summary</h2>
    <p>
      The relationship between socioeconomic status and crime is an important topic for public policy. In this project, we conducted a statistical analysis using data from the City of Chicago to explore the potential correlation between different dimensions of socioeconomic status and crime rates at the community-level. By running a series of regressions, we found that it is not the total number of crime but the type of crime that is correlated to the socioeconomic factors, and among the seven selected socioecomonic indicators, the crowded housing rate and the unemployment rate seems to matter more than the others.
    </p>

  
    <div class = "Motivation">
    <h1>Motivation</h1>
    <p>
    Chicago has long been criticized for its high crime rate. However, when we broke down Chicago's total number of crime to the communities, we found out a striking disparity among communities.
    Except Montclaire, the next top five communites have an average of 11,850.6 crimes per year, comparing to 656.5 in the lowest five communities on average.
    </p>
    <p>
  
    <img src="Crime_Rate_per_Year_Final.pdf" alt = "Total Crime" width="50%" height = "60%" align="right">
    <img src="Total_Crime_Rate.png" alt = "Total Crime_map" width="50%" height = "60%" align="right">
    <p>
    <p>
    Among all the seventy-seven communties, Monclaire appears to be an outlier, enjoying a number of crime per year almost twice as large as the second-ranked community, and about 67 occurrence of crime per day.
    </p>
    <p>
    On the Wikipedia page for <a href="https://en.wikipedia.org/wiki/Montclare,_Chicago">Montcliar, Chicago</a>, the median household income is $6,238 lower than the average level in Chicago, and 24.4% of the residents there earned less than $25,000 per year. The unemployment rate is 12.3%, comparing to 5% at the city-level.
    </p>
    <p>
    We suspect that the demographic features of the community could partially explain the extreme high amount of crime in the area. And we would like to systematically examine the relationship between the socioecomonic indicators and the number of crime at the community-level.
    </p>
  
    </div>
  
    <div class = "Study">
    <h1>Study Design</h1>
    Question: Whether the number of crime in a community is correlated to its socioecomonic status.
    </p>
    <p>
    Data:
    </p>
    <p>
    <a href="https://data.cityofchicago.org/view/5cd6-ry5g">Crime</a> & <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomics</a> merged on <a href="https://en.wikipedia.org/wiki/Community_areas_in_Chicago">Community area number</a>.
    </p>
    <p>
    The socioecomonics data set is calculated by Chicago Department of Public Health using census tract-level estimates from the American Community Survey 5-year estimates. The per capita income in the data set was estimated by dividing the aggregate income of the census tracts within the community area by the number of residents. The hardship index is a score that incorporates each of the six selected socioeconomic indicators according to the method described in <a href= "http://www.rockinst.org/pdf/cities_and_neighborhoods/2004-08-an_update_on_urban_hardship.pdf">An Update on Urban Hardship</a>. Scores on the index can range from 1 to 100, with a higher index number representing a greater level of hardship. The scores are standardized according to the data for the 77 community areas, and therefore cannot be compared to scores generated for other jurisdictions.
    </p>
    <p>
    The crime data set is provided by the Chicago Police Department and is recorded on a daily basis. In order to merge with the socioecomonic data set, we calculated the number of crime per year during 2008-2012.
    </p>
    <p>
    Statistical Method: Regression on logit model.
    </p>
    </div>
  
    <div class = "Git">
    <h1>Source Code</h1>
    <p>
    For the <a href="Crime_Total_Reg_Finalized.html">regression analysis</a> of the total number of crime on socioeconomic indicators.
    </p>
    <p>
    For the <a href="Crime_Type_Reg_Finalized.html">regression analysis</a> of different types of crime on socioeconomic indicators.
    </p>
    <p>
    For the <a href="Crime_Type_Plot_Finalized.html">plot</a> of maps.
    </p>
    </div>
  </div>
  <div class="hidden p-4 rounded-lg" id="analysis" role="tabpanel" aria-labelledby="dashboard-tab">
      <h1>Statistical Analysis</h1>
        <div class = "Total Number of Crime">
          <h1>Total Number of Crime</h1>
          <p>
            We started our statistical analysis from doing the regression's analysis (regplot) for the sum of all kinds of crimes VS. hardship index from socioeconomic status indicators.The result was amazing, basically nothing. The regression line is almost horizontal. This was not expected.
          </p>
          <p>
            We then proceeded to plot the sum of all kinds of crimes VS. all other six different kinds of socioeconomic status indicators. Below is the result:
          </p>
          <p>
            <img src="regression_total.png" alt = "regression_total" width="50%" height="60%">
          </p>
          <p>
            Generally, the results are not ideal. It seems that different socioecomonic aspects have no statistically significant effect on the incidence of crime, which is out of our expectation.
          </p>
        </div>
        
        <p>
          We started to question our data and whether we treated them correctly. Then we realize that a good portion of our socioeconomic status data are in percentage. Statistically speaking, it does not make sense to use percentage as they are. It usually needs to be logit-transformed, which is the inverse of the sigmoidal "logistic" function or logistic transform used in mathematics, especially in statistics.
        </p>
        <p>
          After doing this as our first step into the world of data processing, we gladly found out, comparing the logit-transformed regression analysis VS. the orginal regression analysis, there were some very subtle difference. But, none were significant at even 0.1 level. By this time we realize it is probably very hard to see the relationship between sum of crimes and socioeconomic status at a community area level.
        </p>
        <p>
          We thought about two other ways. First is to find census tract level data. We looked through ACS but could not find census tract data for socioeconomic status working for us (The crime data on the other hand was more than enough). At the same time, we noticed that there is a great disparity with respect to the type of crimes in Chicago. Thus, we started looking at primary_type data.
        </p>
        
        <div class = "Crime by Type">
          <h1>Crime by Primary Type</h1>
          <p>30 Types of crimes are too much for our analysis, so we picked 7 out of them:
            Homicide,
            Weapons Violation,
            Theft,
            Kidnapping,
            Narcotics,
            Robbery,
            Sex Offense.
            
            The selection is mostly based on our experience in Chicago for the past year and common sense.
          </p>
          <p>
            Then we masked the dataset for 7 times to generate 7 different dataset showing only one certain type of crimes listed above. Then of course we logit-transform the dataset once again. The plotting were much better this time. By running our carefully designed for loop, we generated 7 * 7 = 49 plots, for every single one to one relationship.
          </p>
          <p>
            The first we got was a percent housing crowded vs. homicide plot. Like the rest of the 49 plots, was not horizontal. It was very clear that these 49 plots all shows one general idea, The poorer, worse, harder, tougher or by any means not so great community area tend to have higher number of crimes. Some of them had pretty deep slope. (Please check out the Jupyter Notebook for all the graphs.)
          </p>
          <p>
            These all looked very good but are not the whole story for our statistical analysis. We then did the summary describing the fit of regression model for every multiple regression. We picked out the 7 types of crimes we care about, and did the ols fit analysis against all 7 kinds of social economic status. One tricky part here was the Hardship Index. By the data source's definition, the hardship index is the generalization of the other 6 socioeconomic status. Therefore we have to do the analysis for hardship index and other 6 socioeconomic status separately. Just like what we had from the analysis of SUMs in the previous part, the hardship index once again failed to show any significant relationship. This remind us once again that we have to go deeper to seek the relationships.
          </p>
          <p>
            Then we did the summaries for the other 6 multiple regressions' fit. The detailed result is available in our webpage and also the source_code folder. Please feel free to check out. In general,
            Homicide - Crowd, Unemp;
            Weapons Violation - Unemp;
            Theft - Crowd, Unemp, Age, Income;
            Kidnapping - Unemp;
            Narcotics - Crowd, Unemp;
            Robbery - Crowd, Unemp, Age;
            Sex Offense - Crowd, Unemp, Age.
            
            with crime type on the left side and socioeconomic indicators on the right side, these are the significant relationships.
          </p>
          <p>
            Keep in mind that the 6 socioeconomic status we included are:
            PERCENT OF HOUSING CROWDED;
            PERCENT HOUSEHOLDS BELOW POVERTY;
            PERCENT AGED 16+ UNEMPLOYED;
            PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA;
            PERCENT AGED UNDER 18 OR OVER 64;
            PER CAPITA INCOME
          </p>
          <p>
            Here, we use homicide as an example. Below is the result:
          </p>
          <p>
            <img src="homicide_reg.png" alt = "homicide_reg" width="50%" height = "60%" align="left">
          </p>
        </div>
        <p>
          The result shows that, most of the time, with only Unemployed or Housing Crowded significant, other factors we conventionally think are important, are actually not important. For example, I was personally very interested in the Per Capita Income, but it was never ever significant in our analysis.
        </p>
        <p>
          One possible analysis is that most of the crimes in Chicago are related to gangs. Being in a gang, you are in it full-time. So you have to be unemployed to be in a
          gang, or get involved in crimes. Higher percentage in Housing Crowded means higher likelihood for frictions among the tribes and gangs. They are more prone to conflicts. For my personal favorite, Per Capita Income, members in gangs may actually have very good income, which offsets the general 'low income, high crime rate' trend.
        </p>
        <p>
          You can check out our Jupyter Notebook in the source code file to relive our wonderful journey of statistical analysis.
        </p>
  </div>

  <div class="hidden p-4 rounded-lg " id="settings" role="tabpanel" aria-labelledby="settings-tab">
    <p>testing</p>
  </div>


{% endblock %}

