<!DOCTYPE html>
<html>
<head>

  <title>IPPP Final Project</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,500,400,300,200,100,400italic0&subset=latin,greek,latin-ext' rel='stylesheet' type='text/css'>
  <link href="project.css" rel="stylesheet">

</head>

<body>

    <ul class="nav">
        <li><a href="{{ url_for('project.chicago_crimes_introduction')}}" class="active">Introduction</a></li>
        <li><a href="{{ url_for('project.chicago_crimes_analysis' )}}" class="active">Statistical Analysis</a></li>
        <li><a href="{{ url_for('project.chicago_crimes_map' )}}" class="active">Map of Chicago</a></li>
      </ul>

<h1>Map of Chicago</h1>
<section id = "Map of Chicago">

<p>
Click here to check out our <a href="Number_of_Crimes.html">interactive map</a>!
</p>

<div class = "Discussion">
<h1>Also, great disparity among different communities with respect to different types of crime!</h1>
<p>
Discussion: We found out that between the year of 2008 to 2012, the most severe violated and crime frequent (including homicide, kidnapping, narcotics, robbery, sex offense, and weapon violation) community was Austin as well as the south side of Chicago. However, the most severe place which theft happened the most is the central downtown area, which is the most prosperous place in Chicago.
</p>
</div>

<div class = "Map">
<p>
<img src="homicide.png" alt = "homicide" width="50%" height = "60%" align="left">
</p>
<p>
<img src="robbery.png" alt = "robbery" width="50%" height = "60%" align="left">
</p>
<p>
<img src="theft.png" alt = "theft" width="50%" height = "60%" align="left">
</p>
<p>
<img src="narcotics.png" alt = "narcotics" width="50%" height = "60%" align="left">
</p>
<p>
<img src="weapons_violation.png" alt = "weapons_violation" width="50%" height = "60%" align="left">
</p>
<p>
<img src="sex_offense.png" alt = "sex_offense" width="50%" height = "60%" align="left">
</p>
<p>
<img src="kidnapping.png" alt = "kidnapping" width="50%" height = "60%" align="left">
</p>

</div>
</section>


</body>

</html>
